.jumbotron {
    background-image: url(../images/LogobackgroundSml.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    color: white;
    background-color: #231f20;
    padding-bottom: 50px;
    
  }

  .display-3{
        padding-top:200px;
  }
  